.button__search {
  background-color: #1DB954;
  color: #FFFFFF;
  padding: 6px 6px;
  font-weight: 500;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
}

.spotifyapp {
 display: flex;
 flex-direction: column;
}

