.button__search {
  background-color: #1DB954;
  color: #FFFFFF;
  padding: 6px 6px;
  font-weight: 500;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
}

.spotifyapp {
 display: flex;
 flex-direction: column;
}

.container {
  width: 100%
}

.create__playlist {
  margin-bottom: 10px;
}

.save__input {
  width: 70%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;  
}

.save__button {
  padding: 0px 10px;
  color: #FFFFFF;
  background-color: #1DB954;
  font-weight: 400;
  padding: 8px 8px;
  border-radius: 5px;
  min-width: 80px;
  margin: 2px 6px;
}