.button__login-spotify {
  background-color: #1DB954;
  color: #FFFFFF;
  padding: 6px 6px;
  font-weight: 500;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
}

.container__index {
  font-family: Helvetica Neue, Helvetica, Aerial, sans-serif;
  text-align: center;
}