.popularsearch__item {
    width: 65px;
    height: 65px;
    opacity: 0.5;
    padding: 6px 6px;
  }
  
  .popularsearch__item_active  {
    opacity: 1;
  }
  
  .popularsearch__item:hover {
    opacity: 1;
  }
  
  .popularsearch__item:focus {
    opacity: 1;
  }