.button__search {
  color: #000000;
  padding: 0px 6px;
  font-weight: 500;
  font-size: 3rem;
  transform: translate(-95%);
}

.container__searchbar {
  display: flex;
  margin-left: 4rem;
  width: 100%
}

.input__searchbar {
  height: 4.4rem;
  font-weight: 200;
  font-size: 2rem;
  padding: 0px 4px;
}

.parent__searchbar {
  background-color: #1DB954;
  padding: 10px 10px;
  width: 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__searchbar {
  color: #FFFFFF;
  font-size: 7rem;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Aerial, sans-serif;
  text-align: center;
}